{{ define "telegram.default.message" }}
{{ if gt (len .Alerts.Firing) 0 }}
🔥 Alerts Firing 🔥
{{ template "__pragma_text_alert_list" .Alerts.Firing }}
{{ end }}
{{ if gt (len .Alerts.Resolved) 0 }}
✅ Alerts Resolved ✅
{{ template "__pragma_text_alert_list" .Alerts.Resolved }}
{{ end }}
{{ end }}

{{ define "__pragma_text_alert_list" }}{{ range . }}
---
🪪 <b>{{ .Labels.alertname }}</b>
{{- if .Annotations.summary }}
📝 {{ .Annotations.summary }}{{ end }}
{{- if .Annotations.description }}
📖 {{ .Annotations.description }}{{ end }}

🌍 **Network:** {{ .Labels.network }}
🧩 **Publisher:** {{ .Labels.publisher }}
🔍 **Severity:** {{ .Labels.severity | toUpper }}
💿 **Data Type:** {{ .Labels.type | title }}
{{ end }}
